<% if (alerts.error) { %>
    <% alerts.error.forEach(function(message) { %>
        <div style="background-color: red; color: white; text-align: center; font-size: 20px;">
            <%= message %>
        </div>
    <% }); %>
<% } else if (alerts.success) { %>
    <% alerts.success.forEach(function(message) { %>
        <div style="background: green; color: white; text-align: center; font-size: 20px;">
            <%= message %>
        </div>
    <% }); %>
<% } %> 