<h1>Create a new event</h1>

<form action="/playlists" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>

  <div class="form-group">
    <label for="user">Author</label>
    <select name="userId" id="user" class="form-control" required>
      <% users.forEach(function(user) { %>
        <option value="<%= user.id %>"><%= user.getName() %></option>
      <% }) %>
    </select>
    <p>If your name doesn't show up, please <a href="/auth/register">sign up to be an member.</a></p>
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>
