
<div class="jumbotron">
    <div class="container">
        <h4>Hi <%= currentUser.name %>. Enjoy 🎧 your song 🎤 </h4>
        <a class="backBtn" href="/search"> &larr; Back </a>
        <br><br><br><br><br>
    </div>
</div>

<% if (results) { %> 
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Listening</th>  
            <th>Save</th>
        </tr>
        </thead>
        <tbody>
        <% results.forEach(function(item) { %>
            <tr>
                <td><%= item.name %></td>   
                <td ><audio controls><source src="<%= item.preview_url %>" type="audio/mpeg"></audio></td>
                <td>
                    <form action="/playlists/<%= item.id %>" method="POST" role="form" enctype="application/x-www-form-urlencoded">
                        <button type="submit" class="saveBtn btn-primary" ><i class="fa fa-save"></i></button>
                    </form> 
                </td>
            </tr> 
        <% }) %>    
        </tbody>
    </table>
<% } %>

